.button {
  padding: 0.6rem 1.3rem;
  border-radius: 2rem;
  background-color: #f4ce14;
  color: #495e57;
  font-weight: bold;
  font-size: 1em;
  border: none;
}

button:hover:not(:disabled) {
  background-color: #3b4d46;
  color: #f4ce14;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  border: none;
  cursor: not-allowed;
}